body{
    margin: 0;
}
.bg-container{
    height: 100vh;
    width: 100vw;
    background-color: black;
}
.navbar {
  display: flex;
  justify-content: space-between; 
  align-items: center;
  padding: 10px 20px;
  background-color: #2D2D2D;
  color: white;
  font-family: 'Roboto';
}
.logo{
    padding: 10px;
}
.menu {
  display: flex;
  gap: 20px; 
}
.active-button{
    background-color: #ffa9f9;
}
.menu a{
    text-decoration: none;
    color: white;
}
.home-page-cards-container{
    margin: 50px;
}
.home-page-card-2{
    margin: 20px;
    color: white;
    font-family: 'Roboto';
    width: 50vw;
}
.home-page-card-img{
    height: 600px;
    width: 500px;
}
.home-page-card-heading{
    font-family: 'Roboto';
}
.home-page-card-paragraph{
    font-family: 'Roboto';
    margin: 20px 0;
}
.gradient-button-1 {
  padding: 12px 24px;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  color: #000;
  cursor: pointer;
  background: linear-gradient(to right, #fff7ad 0%, #ffa9f9 100%);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s;
}
.gradient-button-1:hover {
  transform:scale(1.05);
}
.gradient-button-2{
  padding: 12px 24px;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  color: black;
  background: linear-gradient(to right, #cdffd8 0%, #94b9ff 100%);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  transition: transform 0.2s, box-shadow 0.2s;
}
.gradient-button-2:hover {
  transform: scale(1.05);
  box-shadow: 0 6px 12px rgba(0,0,0,0.3);
}
.home-page-button{
    margin: 0 20px;
}